.page {
    height: 100%;
    user-drag: none; 
    user-select: none;
    -webkit-user-drag: none;
}

.button-holder {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

html:hover .button-holder {
    display: block;
}

html, body, .page-holder, #drag-file {
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#drag-file {
    position: absolute;
    opacity: 0;
    z-index: 5;
}