.page {
    user-drag: none; 
    user-select: none;
    -webkit-user-drag: none;
}

.button-holder {
    z-index: 10;
    bottom: 5px;
    display: none;
    width: 100%;
}

html:hover .button-holder {
    display: flex;
}

html, body, .page-holder {
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}