.page {
    height: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toolbar {
    height: 40px;
    background-color: #1e1e1e;
    -webkit-app-region: drag;
}

html, body, .page-holder, #drag-file {
    height: 100%;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#drag-file {
    position: absolute;
    opacity: 0;
    z-index: 5;
}